body {
    background-color: #091678;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 1000;
    color: white;
}

#via3 {
    display:none;
}

#via4 {
    display: none;
}

#tassep3 {
    display: none;
}

#tassep4 {
    display: none;
}

#selplayer {
    width: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.input1 {
    width: 70px;
    height: 100px;
    font-size: 30px;
    border-radius: 100px;
    text-align: center;
}

.button1 {
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    text-align: center;
    transition: transform 250ms;
}

.button1:hover {
    color: white;
    transform: translateY(-10px);
}

input {
    cursor: pointer;
}

#titleimg {
    max-width:100%;
    height:auto;
}

#menu {
    display:none;
}

.players {
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    border: 8px solid black;
    border-radius: 100px;
    background-color: darkblue;
    font-size: 50px;
    margin: 10px;
}

#p3 {
    display: none;
}

#p4 {
    display:none;
}

#playermenu {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

#Via {
    display: none;
}

#functions {
    display: inline;
}

#acquisto {
    text-align: center;
}
#acquisto3 {
    display: none;
}

#acquisto4 {
    display: none;
}

#visu3 {
    display: none;
}

#visu4 {
    display: none;
}

#pc3 {
    display: none;
}

#pc4 {
    display: none;
}

.proprieta {
    margin: 20px;
    width:300px;
    height:450px;
    cursor: pointer;
    display: none;
}

.proprietamenu {
    flex-wrap: wrap;
}

#exitvis {
    display: none;
    align-items: center;
}
#exitpote {
    display: none;
    align-items: center;
}

.casa {
    background-image: url(Images/casa.png);
    background-size: 80px;
    background-position-x: 15px;
    background-position-y: 10px;
    background-repeat:no-repeat;
    text-align: left;
}

.albergo {
    background-image: url(Images/albergo.png);
    background-size: 80px;
    background-position-x: 15px;
    background-position-y: 8px;
    background-repeat:no-repeat;
    text-align: left;
}

#visupulsante {
    background-image: url(Images/proprieta\ icon.png);
    background-size: 95px;
    background-repeat:no-repeat;
    background-position-x: 1px;
}

#tasse {
    background-size: 110px;
    background-position-y: 1px;
    background-position-x: -5px;
    background-image: url(Images/tasse.jpeg);
    background-repeat:no-repeat;
}

.nocasa {
    background-image: url(Images/no\ casa.png);
    background-repeat:no-repeat;
    background-size: 80px;
    background-position-x: 15px;
    background-position-y: 10px;
    text-align: left;
}

.subtitle {
    font-size: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 1000;
    color: white;
}

.propvis {
    width: 450px;
}

.test {
    width: 340px;
    position:fixed;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
}

#description {
    display: inline-block;
}

#via {
    background-image: url(Images/via.png);
    background-repeat:no-repeat;
    background-position-x: -4px;
    background-position-y: 48px;
}

#button1 {
    transform: none;
}