body {
    background-color: #091678;
}

.title {
    font-size: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 1000;
    color: white;
}

#selplayer {
    border-style: dashed;
}

.input1 {
    width: 50px;
    height: 100px;
    font-size: 30px;
    border-radius: 100px;
}

.button1 {
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

input {
    cursor: pointer;
}