:root {
    --cell-size:120px;
    --cell-gutter:20px;
}

#griglia {
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    height:var(--cell-size);
    width: var(--cell-size);
    border:4px solid #FFFFFF;
    cursor: pointer;
    font-size:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    border:2px solid red;
}