:root {
    --cell-size:100px;
    --cell-gutter:45px;
}

#gioco {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    height:var(--cell-size);
    width: var(--cell-size);
    border:4px solid #FFFFFF;
    cursor: pointer;
    font-size:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255,255,255,0.0)
}

.description {
    width: 600px;
    padding: 12px;
}
img {
    cursor: pointer;
}